.env
.venv/
venv/
__pycache__/
chroma_diem/
*.pyc
crawled_urls.json
crawled_pdfs.json
evaluation/cache/
evaluation/results/
evaluation/crawler_comparison/
logs/
.DS_Store
chroma_diem.backup_header_bad/
evaluation/results/*
!evaluation/results/.gitkeep
src/data/badwords.b64
tests/*
.langgraph_api/*
evaluation/full_comparison/*
evaluation/parser_comparison/*